#Development
VITE_ENVIRONMENT=development
VITE_PORT=8095

#General
VITE_APP_NAME='Morpheus Dashboard'
VITE_APP_DESCRIPTION='Morpheus Dashboard: capital, community, coders, compute'
VITE_APP_URL='https://morpheus.206.189.243.3.sslip.io'
VITE_APP_TESTNET_GRAPHQL_API_URL='https://api.studio.thegraph.com/query/73688/kkk/version/latest'
VITE_APP_MAINNET_GRAPHQL_API_URL='https://api.studio.thegraph.com/query/67225/morpheus-dashboard/version/latest'
VITE_APP_WALLET_CONNECT_PROJECT_ID='abcdefghijklmnopqrstuvwxyz'
VITE_APP_DEFAULT_REFEREE='0x0000000000000000000000000000000000000000'
#VITE_APP_BUILD_VERSION='1.0.0'

#Testnet
VITE_APP_ERC1967_PROXY_TESTNET_CONTRACT_ADDRESS='0x0ad2fa5d8f420ff6d87192b32d89faf70466b30b'
VITE_APP_STETH_TESTNET_CONTRACT_ADDRESS='0x84BE06be19F956dEe06d4870CdDa76AF2e0385f5'
VITE_APP_MOR_TESTNET_CONTRACT_ADDRESS='0xe6D01D086a844a61641C75f1BCA572e7aa70e154'
VITE_APP_ENDPOINT_TESTNET_CONTRACT_ADDRESS='0xae92d5aD7583AD66E49A0c67BAd18F6ba52dDDc1'
VITE_APP_L1_FACTORY_TESTNET_CONTRACT_ADDRESS='0xB791b1B02A8f7A32f370200c05EeeE12B9Bba10A'
VITE_APP_L2_FACTORY_TESTNET_CONTRACT_ADDRESS='0x3199555a4552848D522cf3D04bb1fE4C512a5d3B'
VITE_TESTNET_BUILDERS_CONTRACT_ADDRESS='0x649B24D0b6F5A4c3852fD4C0dD91308902E5fe8a'

#Mainnet
VITE_APP_ERC1967_PROXY_MAINNET_CONTRACT_ADDRESS='0x47176B2Af9885dC6C4575d4eFd63895f7Aaa4790'
VITE_APP_STETH_MAINNET_CONTRACT_ADDRESS='0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84'
VITE_APP_MOR_MAINNET_CONTRACT_ADDRESS='0x7431aDa8a591C955a994a21710752EF9b882b8e3'
VITE_APP_ENDPOINT_MAINNET_CONTRACT_ADDRESS='0x66A71Dcef29A0fFBDBE3c6a460a3B5BC225Cd675'
VITE_APP_L1_FACTORY_MAINNET_CONTRACT_ADDRESS='0x969C0F87623dc33010b4069Fea48316Ba2e45382'
VITE_APP_L2_FACTORY_MAINNET_CONTRACT_ADDRESS='0x890BfA255E6EE8DB5c67aB32dc600B14EBc4546c'
VITE_MAINNET_BUILDERS_CONTRACT_ADDRESS='0xC0eD68f163d44B6e9985F0041fDf6f67c6BCFF3f'
