.lock-display-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lock-display-container {
    text-align: center;
}

.lock-display-card {
    background-color: #1c1c1c; /* Adjust as needed */
    color: #ffffff; /* Text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px; /* Adjust font size */
}

.error-message {
    border-left: 5px solid #01FF85; /* Red color for error */
    padding-left: 15px;
}

.loading-message {
    border-left: 5px solid #2196f3; /* Blue color for loading */
    padding-left: 15px;
}
