@import './../../index.css';

.sub_navbar{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(70px,auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    /* place-items: center; */
    
}

.sub_navbar .menu_text {
    color: inherit;
    text-decoration: none;
    /* display: block;  */
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
}

.sub_card  {
    border: 2px solid var(--border-color);
    text-align: center;
    padding: 1em;
    color: var(--text-color);
    padding-top: 1em;
    text-decoration: none; /* Remove underline */
    display: block; /* Make the link fill the card area */
    height: 100%;
    width: 100%;
}

.sub_card:hover{
    border: 2px solid var(--hover-border-color);
    color: var(--primary-color);
}

.sub_card.active {
    border: 2.5px solid var(--primary-color); /* Highlight the active card */
    color: var(--primary-color);
}

/* .menu_text:hover {
    color: var(--primary-color);
} */