$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

/* background colors */
$background-primary-light: #ffffff;
$background-primary-main: #fbfcff;
$background-primary-dark: #f5f6ff;

$background-secondary-light: #eff2ff;
$background-secondary-main: #313a36;
$background-secondary-dark: #cad4f5;

$background-tertiary-light: #4A5450;
$background-tertiary-main: #222322;
$background-tertiary-dark: #1d201c;

/* status colors */
$success-light: #edfff2;
$success-main: #5cc56e;
$success-dark: #278337;

$error-light: #fff2f2;
$error-main: #e3905e;
$error-dark: #b3261e;

$warning-light: #fff9e9;
$warning-main: #f6851b;
$warning-dark: #e6661f;

$info-light: #eff2ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

$disable-primary-main: #dbdbdb;
$disable-primary-dark: #808080;

$disable-secondary-main: #838383;
$disable-secondary-dark: #353736;

$disable-tertiary-light: #838383;
$disable-tertiary-main: #454447;
$disable-tertiary-dark: #292e2c;

/* brand colors */
$primary-light: #e2ecfc;
$primary-main: #03ff85;
$primary-dark: #1cac77;

$primary-light-rgb: hexToRGB($primary-light);
$primary-main-rgb: hexToRGB($primary-main);
$primary-dark-rgb: hexToRGB($primary-dark);

$secondary-light: #c2c9dc;
$secondary-main: #8d91a5;
$secondary-dark: #5b6271;

/* typography colors */
$text-primary-light: #575761;
$text-primary-main: #2d3441;
$text-primary-dark: #000000;

$text-secondary-light: #ffffff;
$text-secondary-main: #fdf9ff;
$text-secondary-dark: #444b58;

$text-tertiary-main: #cccccc;

$text-primary-invert-light: #fbfcff;
$text-primary-invert-main: #fbfcff;
$text-primary-invert-dark: #fbfbff;

$text-secondary-invert-light: rgba(#fffbfe, 0.5);
$text-secondary-invert-main: rgba(#fffbfe, 0.5);
$text-secondary-invert-dark: rgba(#fffbfe, 0.5);

/* border colors */
$border-primary-light: #fdf9ff;
$border-primary-main: #908e93;
$border-primary-dark: #45484f;

$border-secondary-light: #e0e0ec;
$border-secondary-main: #c4c4d0;
$border-secondary-dark: #a9abb4;

$border-tertiary-light: #989898;
$border-tertiary-main: #494949;

$border-quaternary-light: #cacaca;
$border-quaternary-main: #7c7c7d;

/* backdrop colors */
$backdrop-modal: rgba(#000000, 0.5);

/* card colors */
$card-border-gradient: linear-gradient(
    95.36deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.48) 100%
);

$card-background-gradient: linear-gradient(
    95.36deg,
    rgba(57, 99, 58, 0.04) 0%,
    rgba(38, 57, 57, 0.5) 100%
);
