@use 'sass:map';

$media-breakpoints: (
  xsmall: 480px,
  small: 600px,
  tablet: 868px,
  medium: 1024px,
  xmedium: 1280px,
  large: 1400px,
  xlarge: 1920px,
  xlarge2k: 2048px,
  xlarge4k: 4096px,
);

@mixin respond-to ($media) {
  $breakpoint: map.get($media-breakpoints, $media);

  @if $breakpoint {
    @media (max-width: ($breakpoint - 1)) {
      @content;
    }
  }

  @else {
    @media (max-width: ($media - 1)) {
      @content;
    }
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin field-label {
  font-family: var(--field-label-font-family);
  font-size: var(--field-label-font-size);
  font-weight: var(--field-label-font-weight);
  line-height: var(--field-label-line-height);
  letter-spacing: var(--field-label-letter-spacing);
  color: var(--field-label);
  margin-bottom: var(--field-label-margin-bottom);
  transition: var(--field-transition-duration) var(--field-transition-timing);
  max-width: max-content;
}

@mixin field-text {
  font-family: var(--field-text-font-family);
  font-size: var(--field-text-font-size);
  font-weight: var(--field-text-font-weight);
  line-height: var(--field-text-line-height);
  letter-spacing: var(--field-text-letter-spacing);
  color: var(--field-text);
  -webkit-text-fill-color: var(--field-text);

  &:disabled {
    color: var(--field-text-readonly);
    -webkit-text-fill-color: var(--field-text-readonly);
  }
}

@mixin field-border {
  border: toRem(1) solid var(--field-border);
}

@mixin field-placeholder {
  @include field-text;

  color: var(--field-placeholder);
  -webkit-text-fill-color: var(--field-placeholder);
  fill: var(--field-placeholder);
  transition: color var(--field-transition-duration) var(--field-transition-timing);
  transition-property: opacity, color;
}

@mixin field-error {
  font-family: var(--field-error-font-family);
  font-size: var(--field-error-font-size);
  font-weight: var(--field-error-font-weight);
  line-height: var(--field-error-line-height);
  letter-spacing: var(--field-error-letter-spacing);
  color: var(--field-error);
  transition: var(--field-transition-duration) var(--field-transition-timing);
  transition-property: opacity, color, font-size, transform;
}

@mixin field-msg-wrp {
  padding-top: var(--field-error-padding-top);
  display: flex;
  align-items: center;
  gap: toRem(4);
}

@mixin field-msg-icon {
  height: toRem(24);
  width: toRem(24);
  color: var(--field-error-icon);
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: toRem(12);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary-main);
    border: toRem(4) solid rgba(var(--black-rgb), 0);
    background-clip: padding-box;
    border-radius: toRem(100);
  }
}

@mixin page-msg {
  max-width: toRem(420);
  width: 100%;
  margin: auto;
}

@mixin skeleton {
  position: relative;
  overflow: hidden;
  border-radius: toRem(20);
  border: none;
  background: none;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background: linear-gradient(110deg, #313A36 8%, #626966 18%, #313A36 32%);
    background-size: 200% 100%;
    border-radius: inherit;
    animation: 1.5s shine linear infinite;
  }
}

@mixin h1 {
  font-family: var(--app-font-family);
  font-size: toRem(54);
  font-weight: 700;
  line-height: toRem(82);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(32);
    line-height: toRem(46);
  }
}

@mixin h2 {
  font-family: var(--app-font-family);
  font-size: toRem(32);
  font-weight: 700;
  line-height: toRem(46);
  letter-spacing: 0;
}

@mixin h3 {
  font-family: var(--app-font-family);
  font-size: toRem(28);
  font-weight: 700;
  line-height: toRem(40);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(24);
    font-weight: 600;
    line-height: toRem(34);
  }
}

@mixin h4 {
  font-family: var(--app-font-family);
  font-size: toRem(24);
  font-weight: 600;
  line-height: toRem(34);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(20);
    line-height: toRem(30);

  }
}

@mixin body-1-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(22);
  font-weight: 600;
  line-height: toRem(32);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(18);
    line-height: toRem(26);
  }
}

@mixin body-1-regular {
  font-family: var(--app-font-family);
  font-size: toRem(22);
  font-weight: 400;
  line-height: toRem(32);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(18);
    line-height: toRem(26);
  }
}

@mixin body-2-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(20);
  font-weight: 600;
  line-height: toRem(30);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(16);
    line-height: toRem(22);
  }
}

@mixin body-2-regular {
  font-family: var(--app-font-family);
  font-size: toRem(20);
  font-weight: 400;
  line-height: toRem(30);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(16);
    line-height: toRem(22);
  }
}

@mixin body-3-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(18);
  font-weight: 600;
  line-height: toRem(26);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-3-medium {
  font-family: var(--app-font-family);
  font-size: toRem(18);
  font-weight: 500;
  line-height: toRem(26);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-3-regular {
  font-family: var(--app-font-family);
  font-size: toRem(18);
  font-weight: 400;
  line-height: toRem(26);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-4-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(16);
  font-weight: 600;
  line-height: toRem(22);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-4-medium {
  font-family: var(--app-font-family);
  font-size: toRem(16);
  font-weight: 500;
  line-height: toRem(22);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-4-regular {
  font-family: var(--app-font-family);
  font-size: toRem(16);
  font-weight: 400;
  line-height: toRem(22);
  letter-spacing: 0;

  @include respond-to(medium) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-5-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(14);
  font-weight: 600;
  line-height: toRem(20);
  letter-spacing: 0;
}

@mixin body-5-medium {
  font-family: var(--app-font-family);
  font-size: toRem(14);
  font-weight: 500;
  line-height: toRem(20);
  letter-spacing: 0;
}

@mixin body-5-regular {
  font-family: var(--app-font-family);
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(20);
  letter-spacing: 0;
}

@mixin body-6-semi-bold {
  font-family: var(--app-font-family);
  font-size: toRem(12);
  font-weight: 600;
  line-height: toRem(16);
  letter-spacing: 0;
}

@mixin body-6-medium {
  font-family: var(--app-font-family);
  font-size: toRem(12);
  font-weight: 500;
  line-height: toRem(16);
  letter-spacing: 0;
}

@mixin body-6-regular {
  font-family: var(--app-font-family);
  font-size: toRem(12);
  font-weight: 400;
  line-height: toRem(16);
  letter-spacing: 0;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

