/* modelPage.css */
@import './../../index.css';

.model_background{
    
    background: linear-gradient(to right, var(--gradient-end-color), var(--gradient-start-color) 50%);
    border-color: #767E7C;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, black, var(--border-color)) 1; 
}

.model-page-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

.main-content-container {
    /* width: 75%;  */
    /* Adjusted width to accommodate the model list width change */
    padding-right: 20px;
    /* overflow-y: auto; */
    /* background-color: linear-gradient(to bottom right, var(--gradient-end-color), var(--gradient-start-color) 35%); */
}


/* .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
} */