@import './../../index.css';

.table_main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
  width: 82vw;
  /* height: 90vh; */
  /* background-color: #fff5; */

  backdrop-filter: blur(10px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

/* .table__header { */
  /* width: 100%;
  height: 10%; */
  /* background-color: #fff4; */
  /* padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
} */



.table__body {
  width: 100%;
  /* max-height: calc(89% - 1.6rem); */
  /* background-color: black; */

  /* margin: .8rem auto; */
  /* border-radius: .6rem; */
  border-image: linear-gradient(to right, transparent, var(--border-color)) 1; 

  overflow: auto;
  overflow: overlay;
}


.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  /* background-color: #0004; */
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}


table {
  width: 100%;
  margin-top: 20px;
}


table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--primary-color);
}

tbody tr:nth-child(even) {
  /* background-color: #C1610F; */
  background: linear-gradient(to right, black , var(--gradient-end-color));

}

/* tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
} */

/* tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
} */

tbody tr:hover:nth-child(even) {
  background-color: var(--primary-color) !important;
  background: linear-gradient(to right, black , var(--primary-color));
  /* color: black; */
}

tbody tr:hover {
  background-color: var(--primary-color) !important;
  background: linear-gradient(to right, var(--primary-color),black );
  /* color: black; */
}





@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}


thead th:hover {
  color:#C1610F;
  border: 1.4px solid #C1610F;
}

