on:
  push:
    branches:
      - "dev"
      - "main"

permissions:
  packages: write
  
jobs:
  converge:
    name: Converge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v1.2

      - name: Log in to registry
        # This is where you will update the personal access token to GITHUB_TOKEN
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Run echo
        run: |
          werf version
          docker version
          echo $GITHUB_REPOSITORY
          echo $GITHUB_SHA

      - name: Run Build
        run: |
          . $(werf ci-env github --as-file) 
          werf export web --tag ghcr.io/morpheusais/dashboard:$GITHUB_SHA --dev

  deploy:
    name: Deploy
    needs: converge
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: ConfigCreate
        run: |
          mkdir ~/.kube/
          echo "${{ secrets.KUBECONFIG }}" > config
          mv config ~/.kube/
          ls ~/.kube/
          kubectl set image deployment/morpheus-dev-webclient  webclient=ghcr.io/$GITHUB_REPOSITORY:$GITHUB_SHA -n morpheus-dev
